<div class="flex m-24 items-center justify-center space-x-24">
<%= image_tag "plant.png", class: "h-[10%] w-[38%]" %>

<div class="bg-slate-200 opacity-75 px-12 py-8 rounded-2xl shadow-xl space-y-6 font-khand">
<h2 class="text-3xl font-bold justify-center items-center mx-auto flex font-khand">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"rounded-lg mb-4" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autocomplete: "tel", class:"rounded-lg mb-4" %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <%
=begin%>
 <em>(<%= @minimum_password_length %> characters minimum)</em> 
<%
=end%>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"rounded-lg mb-4" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"rounded-lg mb-4" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "address", class:"rounded-lg mb-4" %>
  </div>


   <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, options_for_select([['Visitor', 'visitor'], ['Vendor', 'vendor']]) %>
  </div>

  <div class="actions  bg-[#699D0E] items-center justify-center flex rounded-lg p-2 my-3">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
